body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #00cae5;
  margin: 0;
  padding: 20px;
}

.container {
  
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url(download\ \(1\).jpeg); 
  background-size: cover;
  animation: moveBackground 4s ease-in-out infinite; 
  z-index: -1; 
    
}

@keyframes moveBackground {
    0% { background-position: 0% 0%; }
    50% { background-position: 0% 100%; } /* Mova para baixo */
    100% { background-position: 0% 0%; } /* Volte para cima */
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #08b0e8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005e98f9;
}
